
.sidebar {
    width: 300px;
    height: 92vh;
    background-color: #ff4081;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.logo img {
    width: 150px;  
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;  
}

h2 {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar-item {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.sidebar-item:hover {
    background-color: #e91e63; 
}

.hidden {
    display: none;
}
/* User Profile */
.user-profile {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 100px;
}

/* Profile Picture */
.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Welcome Message */
#welcomeMessage {
    font-size: 18px;
    font-weight: bold;
}
